<div class="holder" style="margin: 100px auto">

  <div class="row">

    <div class="col-6 offset-3">
      <h4>Agregar una nueva seccion de novedad</h4>
      <form
        action="/admin/novedades/agregar"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mb-3">

          <input
            type="text"
            class="form-control"
            placeholder="Titulo"
            name="titulo"
          />
        </div>
        <div class="mb-3">

          <textarea
            type="text"
            class="form-control"
            placeholder="Subtitulo"
            name="subtitulo"
          ></textarea>
        </div>

        <div
          class="mb-3"
          style="border: 0.5px solid rgba(190, 188, 188, 0.756); border-radius: 5px; height: 45px; margin-top: 5px; padding: 10px;"
        >
          <label>Imagen
            <input type="file" name="imagen" id="imagen" />
          </label>
        </div>

        <div class="mb-3">
          <textarea
            type="text"
            class="form-control"
            placeholder="Cuerpo"
            name="cuerpo"
          ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
      {{#if error}}
        <p>{{message}}</p>
      {{/if}}
    </div>

  </div>

</div>