.caja {
  border: 0.125em solid gray;
  border-radius: 0.7em;
  margin: 1em 0;
  padding: 1em;
  overflow: hidden;
  display: flex;
}

.info {
  margin: 0 0.5em;
}

.caja:nth-child(even) {
  flex-direction: row-reverse;
}

.h4-caja {
  color: #2e64a1;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 900;
  margin: 0 0 1em 0;
  border-bottom: 1px solid #2e64a1;
  padding-bottom: 0.5em;
}

.img-caja img {
  border-radius: 0.5em;
}
